.customCounter{
    text-align: center;
}
 .customCounter .mat-card{
margin-right: 35%;
    margin-left: 35%;
}
.customCounter .mat-card .mat-form-field label{
    padding-left: 20%;
     background-color: gray; 
 } 
 .customCounter .mat-card button{
    width:100%
} 