wjdnejncjdncjdenj
<form>
    <mat-card>
        <mat-card-header>
            <h1>Add Blogs</h1>
        </mat-card-header>
        <mat-card-content>
       </mat-card-content>
       <mat-form-field>
        <mat-label>Title</mat-label>
       <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Discription</mat-label>
           <textarea matInput></textarea>
            </mat-form-field>

       <mat-card-actions>
        <button tpe="submit" mat-raised-button color="primary">Save</button>
        <a mat-raised-button color="primary"  (click)="onclosepopup()">close</a>
       </mat-card-actions>
       </mat-card>
</form>
